<!DOCTYPE html>
<html lang="en" xmlns="http://www.thymeleaf.org"> <!-- xmlns to use thymeleaf -->
<head th:replace="views/layout/layout :: head"></head> <!-- thymeleaf fragments, for shared html files-->
<body>
    <div class="container">
        <h1>List</h1>
        <button class="btn btn-success" id="btn-view-by-console">VIEW</button>
        <ul class="list-group">
            <li th:each="item: *{list}" th:text="${item}" class="list-group-item">Item description here...</li>
        </ul>
    </div>

    <!-- scripts -->
    <script th:inline="javascript" th:src="@{/js/jquery.min.js}"></script> 
    <script th:inline="javascript" th:src="@{/js/views/list-view-controller.js}"></script>
</body>
</html>